<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Music Store</title>
</head>
<body>
  <header>
    <div class="header-container">
      <a href="/">
        <h1 class="logo">Music Shop🎸</h1>
      </a>
      <a href="/cart" class="cart-link">Cart ({{cartCount}})</a>
    </div>
  </header>
  <main>
    <h2>Items for Sale</h2>
    <section id="saleItems">
      {{#each inventory}}
      <a href="/product/{{id}}" class="sale-item">
        <div class="item-img-container">
          <img src="/images/{{image}}" alt="{{name}}" />
          <p>{{description}}</p>
        </div>
        <p>{{name}}</p>
        <p>${{price}}</p>
      </a>
      {{/each}}
    </section>
  </main>
  <footer>
    <p>&copy; Music Shop</p>
  </footer>
</body>
</html>
